AnchorPane{
    -fx-background-image: url("background-newMail.jpg");

}
Label{
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: bold;
}

Label{
    -fx-font-family: Arsenal-Bold;
    -fx-font-size: 13px;
}
#invioButton{
    -fx-background-color: inherit;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, #598efa, 10, 0.3, 0.0, 0.0);
    -fx-font-size: 15px;
}
#testoMail{
    -fx-font-family: Arsenal-Regular;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-border-color: #598efa;
    -fx-border-radius: 5px;
    -fx-font-size: 15px;
}
#destinatario,#oggetto, #mittente{
    -fx-font-family: Arsenal-Regular;
    -fx-font-size: 15px;
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-padding: 1 3 1 3;
    -fx-border-color: #598efa;
    -fx-border-radius: 5px;
}
